.event-details-heading {
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event-details-heading h2 {
    font-size: 38px;
    font-weight: bold;
}

.event-details-container {
    overflow-y: scroll;
    max-width: 500px;
}

.event-details-description {
    padding-left: 45px;
    padding-right: 40px;
    overflow-y: hidden;
    text-align: justify;
}

.event-details-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 70px;
    max-width: 500px;
    border: 1px solid #000;
    border-radius: 15px;
}

.event-details-button {
    height: 50px;
    width: 230px;
    background-image: linear-gradient(to right, #fdd687, #f5a691);
    border: none;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 10px;
    /* Adds space between text and icon */
}

.event-details-button h6 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.event-icon-arrow {
    color: #0f0101;
    font-size: 18px;
    float: right;
    transform: rotate(314.16deg);
}

@media (max-width: 1366px) {
    .event-details-btn-container {
        justify-self: center;
        width: 500px;
    }
}

@media (max-width: 768px) {
    .event-details-description {
        margin-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .event-details-heading {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;

    }
}