* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  /* background-color: blue; */
  width: 70%;
  flex-wrap: wrap;
  /* max-height: 986px; */
  /* overflow-y: auto; */
  /* padding: 10px; */
}
.card-container-top {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.activity-reviewss {
  margin-top: 10%;
}

.activity-icons-container img {
  width: 100%;
  margin-bottom: 50px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-left: 0%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  /* margin-bottom: 3% !important; */
  /* height: 230px; */
}

.activity-card-in {
  padding: 20px 0 0 20px;
}

.activity-image {
  position: relative;
  width: 33%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
  overflow: hidden;
}

.activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
}

.info-image {
  width: 120px;
  /* Decreased width for the image container */
  height: auto;
  /* Decreased height for the image container */
  overflow: hidden;
  /* Ensures any overflow content is hidden */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #000000 2px solid; */
}

.info-image img {
  width: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
}

.activity-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-details p {
  display: flex;
  align-items: center;
}

.activity-details h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}

.activity-detailss {
  flex: 1;
  margin-top: 10px;
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: space-between;
}

.activity-detailss p {
  display: flex;
  align-items: center;
}

.activity-detailss h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}

.location {
  color: #434343;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3% !important;
}

/* ------------ */
.description-logo-container {
  display: flex;
  align-items: center;
  /* Centers items vertically within the container */
  justify-content: space-between;
  margin-bottom: 5px;
}

.activity-description {
  flex: 1;
  /* Allows the description to take the remaining space */
  margin-right: 20px;
  /* Adds some space between the description and image */
}

.additional-info {
  flex: 0 0 auto;
  /* Prevents the image container from stretching */
  display: flex;
  align-items: center;
  /* Centers the image vertically within the container */
}

/* --------- */

/* .activity-actionss, */
.activity-actions {
  display: flex;
  gap: 5px;
  background-color: #e5e5e5;
  padding: 10px 20px;
  /* margin-top: 2.5%; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info-with-img {
  display: flex;
}

.pinfo-image {
  flex-shrink: 0;
  width: 145px;
  height: 145px;
  margin-right: 12px;
  /* border: #000000 2px solid; */
  overflow: hidden;
}

@media (min-width: 1461px) {
  .pinfo-image {
    width: 145px;
    height: auto;
  }

  .pinfo-image img {
    width: 135px;
  }
}

/* .pdescp, */
.descp {
  display: flex;
  flex-grow: 1;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
.card-details-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.descp h3,
.pdescp h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size: large;
}

.descp p,
.pdescp p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* promoted */

.promoted-container {
  width: auto;
  height: auto;
  /* background-color: #f25c2a; */
  display: flex;
  flex-direction: row;
  padding: 0 8%;
  justify-content: space-between;
  /* Adds space on the left of the first card */
  /* Adds space on the right of the second card */
}

.activity-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0% 6%;
  gap: 2rem;
}

.promoted-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  text-align: left;
  margin-bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  /* Prevents cards from stretching or shrinking */
}

.gapss {
  height: 120px;
}

.promoted-image {
  position: relative;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 420px;
  overflow: hidden;
}

.promoted-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promoted-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.promoted-label {
  background-color: #737372;
  color: #e5e5e5;
  padding: 0px 8px;
  text-transform: uppercase;
  font-size: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50px;
  /* Optional: Add slight rounding to the corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* Optional: Add a slight shadow */
}

.act-location {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.promoted-details {
  padding: 15px 0;
}

.promoted-details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card1 {
  float: left;
  margin-left: 6%;
}

/* banner */
.banner-container {
  width: 335px;
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: red; */
}

.card {
  margin-bottom: 20px;
  width: 335px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-position: cover;
}

.card:nth-child(1) {
  height: 606px;
  border-radius: 5px;
}

.card:nth-child(2) {
  height: 300px;
  margin-bottom: 0%;
}

.more-btn {
  margin-left: auto;
  /* background-color: #f25c2a; */
  display: flex;
}

.more {
  background-color: #ffffff;
  border: none;
  color: #f25c2a !important;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1em;
}

.activity-buttons {
  /* background-color: blueviolet; */
  display: flex;
  gap: 10px;
}

/* .activity-actionss button, */
.activity-actions button {
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: space-evenly;
}

/* .activity-actions,
.activity-actionss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
/* Enable Flexbox */
/* Space out the children (left and right alignment) */
/* Align items vertically center */
/* } */

.book-now,
.save,
.share {
  padding: 11px 15px;
}

.activity-actions button:hover,
.activity-actionss:hover {
  opacity: 0.8;
}

.activity-reviews {
  color: #383838;
  text-align: right;
  margin-top: auto;
  margin-right: 20px;
}

.review-text {
  font-size: 10px;
}

/* .infop-row, */
.info-row {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 1rem;
  margin: 8px 0px;
}

.card-age-container {
  display: flex;
  align-items: center;
  width: 60%;
}
.card-age-container img {
  width: 10%;
  /* height: fit-content; */
  /* margin-top: -1%; */
  margin-right: 10px;
}
.age-group {
  height: auto;
  padding: none;
  background-color: #e7eaf1;
  padding: 5px 5px;
  margin-top: 3px;
  font-size: small;
}

.age-text {
  font-size: 10px;
  font-weight: 300;
  color: rgb(38, 38, 38);
  text-align: center;
}
.card-week-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-week-container img {
  width: 5%;
  height: auto;
  margin-top: -2%;
}

.day-selector {
  margin-top: -1.5%;
  display: flex;
  border-radius: 20px;
}

.day-selector span {
  font-size: smaller;
  border-radius: 0%;
  margin: 0%;
  padding: 3%;
}

.day-selector .day {
  background-color: #f2f1eb !important;
}

.active {
  color: #f25c2a !important;
  background-color: #f2f1eb !important;
  font-weight: bold;
}

.pagination-container {
  display: grid;
  margin: 1% 0% 5% 8%;
  /* Centers the container */
  width: 90%;
  /* 90% of the screen width */
  height: 10%;
  /* 10% of the screen height */
  align-items: center;
  /* Vertically centers the pagination */
  /* background-color: #f6ffef; */
  /* Light background similar to the image */
  border-radius: 12px;
  /* Rounded container corners */
}

/* Default styles for larger screens */
.chevron-dropdown {
  display: none;
  /* Hide the chevron icon on larger screens */
  margin-top: -30px;
}

/* Default state: hidden on screens less than 1024px */
/* @media (max-width: 1024px) {
  .description-logo-container,
  .activity-actions {
      display: none;
  }

  .description-logo-container.visible,
  .activity-actions.visible {
      display: flex;
  }

} */

/* For larger screens, show these sections as usual */
/* @media (min-width: 1024px) {
  .description-logo-container,
  .activity-actions {
      display: flex;
  }

} */
.no-courses-gap {
  width: 100%;
  /* Default for larger screens */
  height: 25vh;
}

/* only for card details resizing like fonts etc...   */
@media (max-width: 1360px) {
  .info-row {
    flex-direction: column;
    align-items: start;
  }
  .card-age-container img {
    /* height: fit-content; */
    width: 8%;
  }
  .activity-actions {
    padding: 10px;
  }
  .activity-buttons button {
    font-size: x-small;
    padding: 5px 8px;
  }
  .card-week-container img {
    width: 7%;
    height: auto;
  }
}

/* less than 1024px width */
@media (max-width: 1024px) {
  .card-container {
    width: 100%;
  }

  .activity-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-container {
    width: 100%;
    align-items: center;
    margin: 10px 0 0;
  }
  .card {
    width: 100%;
    height: 30vw;
  }
  .card:nth-child(1) {
    height: 40vw;
    border-radius: 5px;
  }

  .card:nth-child(2) {
    height: 30vw;
    margin-bottom: 0%;
    width: auto;
  }
}

/* less than 700px */
@media (max-width: 700px) {
  .activity-image {
    width: 100%;
  }
  .activity-card {
    flex-direction: column;
  }
  .card-age-container {
    width: 100%;
  }
  .card-age-container img {
    /* aspect-ratio: 1/1; */
    width: 8%;
  }
  .card-week-container {
    font-size: smaller;
  }
  .activity-card-in {
    padding: 20px 0px 0px 10px;
  }
  .additional-info {
    align-items: end;
  }
  .info-image {
    width: 100px;
  }
  .card:nth-child(1) {
    width: auto;
  }
}

/* less than 375px width */
@media (max-width: 375px) {
  .descp {
    flex-direction: column;
  }
  .card-details-container {
    width: 100%;
  }
  .additional-info {
    justify-content: center;
  }
  .activity-actions {
    flex-direction: column;
    gap: 1rem;
  }
  .more-btn {
    margin-left: 0px;
  }
}
