.provider-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding-bottom: 1rem;
}

.academy-breif-text-container {
  margin: 0 2rem;
}

.academy-overall-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
  border-bottom: 1px solid #f0f0f1;
  padding-bottom: 3rem;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #f0f0f1;
}

.age-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #f0f0f1;
}

.age-container :nth-child(2) {
  color: var(--textBlueShadeColor);
  font-weight: 600;
}

.venue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.venue-container :nth-child(2) {
  color: var(--textBlueShadeColor);
  font-weight: 600;
}

.pr-activity-info-provider {
  width: 90%;
  margin: 0 10%;
  background-color: #f9f9f9;
  padding: 24px;
}

.pro-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  max-height: 600px;
}

.total-contain {
  display: flex;
  flex-direction: row;
}

.pro-logoimage {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  margin-top: 3%;
  margin-left: 3%;
}

.logo-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-contain h1 {
  color: var(--textBlueShadeColor);
  font-weight: 600;
}

.about-academy-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.about-academy h1 {
  color: var(--textBlueShadeColor);
  font-size: 21px;
  font-weight: 700;
}

.provider-courses h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Container for courses */
.provider-courses {
  margin-top: 40px;
  padding: 20px;
}

.pr-courses-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Style for individual course card */
.pr-activity-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f7f8fa;
  transition: transform 0.2s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 100%; */
  /* flex-basis: 50%; */
}

/* Hover effect for course card */
.pr-activity-card:hover {
  transform: translateY(-5px);
}

/* Course image */
.pr-activity-image {
  position: relative;
  width: 100%;
  height: 150px;
}

.pr-activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Course details */
.pr-activity-card-in {
  padding: 0px 5px 5px 5px;
}

/* Course name */
.pr-activity-details h3 {
  font-size: 18px;
  margin: 10px 0;
}

/* Clamp description to 3 lines */
.pr-description-container p {
  font-size: 14px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  line-clamp: 3;
}

/* Location styling */
.pr-activity-location {
  font-size: 14px;
  color: #555;
}

.see-more-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.see-more-more {
  background-color: #3880c4;
  padding: 8px;
  width: 30%;
  margin-top: 0px;
  color: #fff;
  border-radius: 20px;
  border: none;
}

.pr-act-location {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.age-group-container {
  margin: 5px 0px;
}

@media (max-width: 1024px) {
  .pr-courses-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .pr-courses-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .provider-courses {
    padding: 20px 0px;
  }
  .day-selector {
    font-size: small;
  }
}

@media (max-width: 450px) {
  .pr-courses-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .academy-overall-container {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;
  }
  .review-container {
    border-bottom: 1px solid #f0f0f1;
    border-right: 0px;
    padding-bottom: 10px;
  }
  .age-container {
    border-bottom: 1px solid #f0f0f1;
    border-right: 0px;
    padding: 10px 0px;
  }
  .venue-container {
    padding-top: 10px;
  }
}
