 h3 {
   font-size: 16px;
   font-weight: 700;
 }

 p {
   font-size: 12px;
   font-weight: 500;
 }

 h4 {
   font-size: 18px;
   font-weight: 500;
 }

 .mapPopup {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   z-index: 1000;
   margin: 0;
 }

 .mapPopup-content {
   background-color: white;
   padding: 0px;
   border-radius: 15px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   position: absolute;
   height: 690px !important;
 }

 .mapViewBorder {
   border-radius: 15px;
   margin-left: 10px;
   padding: 5px;
   width: 90%;
   height: 690px;
 }

 .map-close {
   position: absolute;
   margin-right: -1px;
   right: 0;
   top: 0;
 }

 .map-close-button {
   position: absolute;
   top: 0px;
   right: -1px;
   z-index: 5;
   background-color: #FDD687;
   padding: 15px 15px;
   border: none;
   border-radius: 0px 15px 0px 15px;
   font-size: 14px;
   color: black;
   cursor: pointer;
   z-index: 1000;
 }

 .map-close-button:hover {
   color: #ff0000;
 }

 @media(max-width:766px) {

   .map-btn,
   .card-btn {
     background-color: black;
   }

   .map-arrow {
     margin-top: 16px;
   }
 }


 @media (max-height:932px) {
   .mapPopup-content {
     height: 80% !important;
     width: 90% !important;
   }

   .mapViewBorder {
     height: 100%;
   }

   .mapView {
     height: 100%;
   }
 }

 @media(min-width:1000px) {
   .mapPopup-content {
     width: 60% !important;
   }
 }