/* .activity-details-container {
    display: flex;
    flex-direction: row;
} */

/* .activity-button {
    background-color: #ffffff;
    color: black;
    margin-top: 1rem;
    max-width: 500px;
    max-height: 60px;
    margin-left: -35px;
    border-width: 1px;

     Increase the border thickness 
    border-style: solid;
    Ensure it's a solid border 
    border-color: black;
    /* Change border color if needed 

}

.icon-arrow {
    color: #0f0101;
    font-size: 25px;
    float: right;
    margin-left: -50px;
    margin-top: 12px;

}

.activity-img-container,
.right-section {
    margin-top: 170px;
    width: 100%;

}

.activity-btn-container {
    margin-top: 10px;
    position: relative;
    margin-bottom: 230px;
    width: 100%;
}

.right-section {
    max-width: 500px;
    max-height: 589px;
    border-width: 1px;
    /* Increase the border thickness 
    border-style: solid;
    /* Ensure it's a solid border 
    border-color: black;
    /* Change border color if needed 



} */

/* Layout */
.signInSuccessactivity-details-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left: 2px;
    margin-top: 10px;
}

.signinSuccessactivity-details-left,
.signinSuccessactivity-details-right {
    /* flex: 1; */
    max-width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
}

.signinSuccessactivity-details-left {}

/* Image Container */
/* .activity-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 500px;
    width: 500px;
    overflow: hidden;
    /* Ensures image doesn't overflow the container 
border-radius: 15px;
}

.activity-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire container while maintaining aspect ratio 
border-radius: 15px;
}

*/
.signinSuccessactivity-img-container {

    margin-bottom: 1rem;
    min-height: 500px;
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

.activity-image {
    max-width: 500px;
    min-height: 500px;
    object-fit: cover;
    /* Ensures the image covers the entire container while maintaining aspect ratio */
    border-radius: 15px;
}

/* Button Container */
.signinSuccessactivity-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 500px;
    border: 1px solid #000;
    border-radius: 15px;
}

.signinSuccessactivity-button {
    text-align: left;
    font-weight: 500px;
    border-radius: 15px;
    padding: 20px 30px;
    background-color: white;
    border: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

/* .activity-button:hover {
    background-color: #e9ecef;
    color: #0056b3;
} */
.icon-arrow {
    color: #0f0101;
    font-size: 18px;
    float: right;
    padding: 20px;

}

/* Content Section */
.signinSuccessactivity-content {

    border-radius: 15px;
    border: 1px solid #000;
    max-width: 500px;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 30px;
}

.signinSuccessshare-container {
    background-color: #F5A691;
    width: 80px;
    height: 30px;
    border-radius: 0px 15px 0px 15px;
}

.signinSuccessactivity-heading {
    margin-bottom: 30px;
}

.signinSuccessCampDetails {
    border: 1px solid #D0D0D0;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
}

.campTitle {
    font-size: 38px !important;
    font-weight: 700;
}

.campSubTitle {
    font-size: 18px;
    font-weight: 500;
}

.signinSuccessCampDetails p {
    font-size: 12px;
    font-weight: 500;
}

.signinSuccessCampDetails h3 {
    font-size: 18px;
    font-weight: 700;
}

.signinSuccessCampDetails h4 {
    font-size: 16px;
    font-weight: 700;
}

.signinSuccessCampDetails h5 {
    font-size: 16px;
    font-weight: 500;
}

.signinSuccessPromoCodeDetails {
    border: 1px solid #D0D0D0;
    padding: 5px;
    border-radius: 10px;
    width: 90%;
}

.signinSuccessInputBoxContainer {
    position: relative;
    width: 90%;
}

.signinSuccessPromoCode {
    width: 100%;
    padding-right: 45px;
    /* Make space for the button */
    box-sizing: border-box;
    font-size: 12px;
    border: none;

}

.signinSuccessPromoCode::placeholder {
    font-size: 12px;
    font-weight: 500;
}

.applyButton {
    position: absolute;
    right: -35px;
    top: 45%;
    transform: translateY(-45%);
    padding: 8px 15px;
    background-color: '#D0D0D0';
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.signinSuccessOrderDetails {
    border: 1px solid #D0D0D0;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
}

.orderTitle {
    font-size: 18px;
    font-weight: 700;
}

.order {
    font-size: 16px;
    font-weight: 500;
}

.total {
    font-size: 16px;
    font-weight: 800;
}

.font12 {
    font-size: 12px;
    font-weight: 500;
}

.signinSuccessFinalDetails {
    border: 1px solid #D0D0D0;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
}

.signinSuccessContinueButton {
    background-image: linear-gradient(to right, #FDD687, #F5A691);
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.orderMobile {
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    margin-top: 5px;
}

.pMobile {
    font-size: 12px;
    font-weight: 500;
}

.signinSuccessContinueButtonMobile {
    background-image: linear-gradient(to right, #FDD687, #F5A691);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 90%;
}

/* Responsive Design */
/* @media (max-height: 700px) {
    .signinSuccessactivity-details-left{
        display: none;
    }
} */
@media (max-width: 540px) {
    .signinSuccessactivity-details-left {
        display: none;
    }
.signinSuccessshare-container {
    display: none;
}
    .signinSuccessactivity-details-right {
        width: 100%;
        margin: 12px;
    }

    .signinSuccessactivity-content {
        width: 100% !important;
        padding: 15px;
        padding-bottom: 100px;
    }

    .campTitle {
        font-size: 24px !important;
        font-weight: 700;
    }

    .campSubTitle {
        font-size: 14px;
        font-weight: 500;
    }

    .campTitle3 {
        font-size: 18px;
        font-weight: 700;
    }

    .signinSuccessCampDetails {
        width: 100%;
    }

    .signinSuccessPromoCodeDetails {
        width: 100%;
    }

    .applyButton {
        right: -25px;
        top: 41%;
    }

    .signinSuccessOrderDetails {
        width: 100%;
    }

    .orderTitle {
        font-size: 18px;
        font-weight: 700;
    }

    .order {
        font-size: 16px;
        font-weight: 500;
    }

    .signinSuccessFinalDetails {
        display: none;
    }

    .signinSuccessFinalDetailsMobileView {
        border: 1px solid black;
        border-bottom: none;
        border-radius: 20px 20px 0px 0px;
        padding: 10px 20px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin-left: -2px;
        background-color: white;
        height: 80px;
    }

    .FinalDetailsMobileViewInnerBox {
        height: 60px;
    }

    /* 
    .pMobile {
        margin-bottom: 100px;
    } */

}

@media (min-height: 800px) {
    .signInSuccessactivity-details-row {
        /*         margin-top: 100px;
 */
    }
}

@media (min-width: 1500px) {
    .signinSuccessactivity-image {
        margin-left: -40px;
    }

    .signinSuccessactivity-btn-container {
        width: 470px;

    }
    .signinSuccessactivity-content{
       max-width: 520px;
    }
}

/*@media (max-width: 360px) {
    .signinSuccessFinalDetailsMobileView{
        top: 570px;
        width: 90%;
    }
    
}
@media (max-width: 344px) {
    .signinSuccessFinalDetailsMobileView{
        top: 650px;
        width: 92%;
    }
}
@media (min-width: 390px) {
    .signinSuccessFinalDetailsMobileView{
        top: 630px;
        width: 90%;
    }
    
}
@media (min-width: 540px) {
    .signinSuccessFinalDetailsMobileView{
        top: 550px;
        width: 92%;
    }
} */
@media (min-width: 768px) {
    .signinSuccessFinalDetailsMobileView {
        display: none;
    }

}