.banner-container {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.banner-container img {
  width: 100%;
  height: 100%;
}

/* mobile view */
@media (max-width: 600px) {
  .banner-container {
    height: 150px;
  }
}