.contact-form-container {
    display: flex;
    align-items: stretch;
    /* Ensures equal height for both containers */
    justify-content: space-between;
    /* flex-direction: row; */
    margin-top: 100px;
    gap: 30px;
    margin-bottom: 30px;
}

.contact-form-left-container,
.contact-form-rigth-container {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-rigth-container {

    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
}

.contact-form-image-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.contact-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the container */
    border-radius: 15px;
}


.contact-form-input {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.contact-form-submit-button {
    padding: 15px;
    background-color: rgba(172, 194, 158, 1);
    color: white;
    border: none;
    border-radius: 15px;
}

@media (max-width:1025px) {
    .contact-form-container {
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
    }

    .contact-form-image-container {
        min-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .contact-form-rigth-container {
        padding: 20px;
    }

}