.card-container-div {
  margin-left: 45px;
  margin-right: 45px;
}

.share-text {
  display: inline-block;
}

.share-container {
  background-color: #f5a691;
  height: 30px;
}

.age-container {
  width: 100%;
}

.card-fnt-wt {
  font-weight: 500;
}

.activity-heading {
  margin-left: 50px;
  margin-bottom: 50px;
  padding-right: 10px;
}

.activity-heading h2 {
  font-size: 38px;
  margin-top: 50px;
}

.activity-heading h6 {
  font-size: 18px;
}

.card-container-div .card3 {
  width: 130px;
  height: 150px;
}

.map-box {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 18px;
  height: 110px;
  border-radius: 15px !important;
}

.age-box {
  margin-left: 45px;
  margin-right: 45px;

  margin-bottom: 50px;
  border-radius: 15px !important;
}

.map-btn {
  background-color: #acc29e;
  color: #ffff;
  border-radius: 10px;
  padding-left: 20px;

  max-width: 500px;
  height: 50px;
}

.map-arrow {
  margin-top: 16px;
}

.card-btn {
  background-color: #acc29e;
  color: #ffff;
  border-radius: 10px;
}

.ctn-btn {
  background-color: #d0d0d0;
  border-radius: 10px;
}

.card-btn {
  /* style={{ border: 'none', width: '120px', height: '40px' }} */
  border: none;
  width: 120px;
  height: 40px;
  margin-top: 5px;
}

.age-box-content {
  line-height: 0.3;
  margin-top: 10px;
  margin-left: 20px;
  padding: 2px;
}

.custom-btn {
  margin-top: -2px;
}

.cutom-arrow {
  margin-top: 18px;
  margin-left: 40%;
  align-self: center;
}

.custom-card-title {
  text-align: center;
}

.card-container {
  margin: 0rem 2rem 0rem 2rem;
}

.share-icon {
  display: none;
  /* Hide the icon by default */
}

.card1,
.card2 {
  width: 130px;
  height: 150px;
  border-radius: 15px;
}

.activity-providerpopup-text {
  font-size: 14px;
  font-weight: bold;
  color: #acc29e;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .card-container-div {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 566px) {
  .card-container-div {
    margin-left: 20px;
    margin-right: 20px;
  }

  .share-text {
    display: none;
    /* Hide the text on mobile */
  }

  .share-container {
    background-color: transparent;
  }

  .share-icon {
    font-size: 25px;
    margin-top: 20px;
    display: inline-block;
    /* Show the icon on mobile */
  }

  .activity-heading {
    margin-left: 25px;
  }

  .activity-heading h2 {
    font-size: 24px;
  }

  .activity-heading h6 {
    font-size: 14px;
  }

  .card-container {
    margin: 0%;
  }

  .card-container-div .card3 {
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    margin-top: 5px;
    height: auto;
    /* Set height to auto if you want dynamic resizing */
  }

  .custom-btn {
    display: flex;
  }

  .cutom-arrow {
    transform: rotate(-38deg);
    /* Rotate the right arrow to up */
    margin-top: 20px;
    margin-left: 10px;
  }

  .custom-card-title {
    text-align: left;
  }

  .map-box {
    margin-bottom: 100px !important;
  }

  .age-box {
    margin: 0rem 0rem 0rem 0.7rem;
    width: 93%;
  }

  .map-btn,
  .card-btn {
    background-color: black;
  }

  .card-btn {
    margin-top: 20px;
  }

  .camp-duration-selected-btn {
    margin-top: 20px !important;
  }

  .age-container {
    border-radius: 20px 20px 0px 0px;
    padding: 10px;

    width: 100% !important;
    border: solid 1px black;
    z-index: 10;
    margin-left: -2px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  .age-box {
    z-index: 20;
    width: 101%;
    margin-left: -2px;
    border-radius: 15px !important;
    margin-bottom: 5px !important;
  }

  .card1,
  .card2 {
    width: 150px;
    height: 170px;
    margin-right: 10px;
  }

  .map-arrow {
    margin-top: 9px;
  }
}

/* @media (max-width: 1024px) and (min-width: 768px) {
    .activity-heading h2{
      font-size: 25px;
   }
   .activity-heading h6{
       font-size: 15px;
    }
    .card1, .card2{
      width:120px;
      height:130px;
    }
    .card-container .card3{
      width:120px;
      height:130px;
     
    }
    .custom-btn {
      text-align: center;
      width: 110px;
      height: 100px;
    }
    
    .card-container {
      margin-top: -2rem;
      
    }
     .card-btn {
      width: 79px;
      height: 26px;
  }
  .map-box,.age-box {
    margin: 0rem 1rem 3rem 1rem;
}
  } */

/* state classes */
.camp-duration-selected-btn {
  background-color: #d0d0d0;
  color: black;
  border: none;
  width: 120px;
  height: 40px;
  margin-top: 5px;
}

.activate-continue-btn {
  background-image: linear-gradient(to right, #fdd687, #f5a691);
}
