.recent-events-heading {
  font-size: 38px;
  font-weight: 700;
}
.recent-events-subheading {
  font-size: 18px;
  font-weight: 500;
}
.recentEvents-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recentEvents-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 1rem;
  width: 100%;
}
.recentEvents-tile {
  width: 190px;
}
.recentEvents-tile img {
  border-radius: 15px;
}

@media (max-width: 1300px) {
  .recentEvents-tile {
    flex: 0 1 calc(190px - 2rem);
  }
}
