.top-activites-header {
  font-size: 38px;
  font-weight: 700;
}

.top-activites-subheader {
  font-size: 18px;
  font-weight: 500;
}

.cards-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.cards-content-wrapper {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 1.15rem;
}
.cards-content-wrapper::-webkit-scrollbar {
  display: none;
}

.card-box {
  flex: 0 0 auto;
  width: calc(20% - 0.9rem);
  min-width: 190px;
  box-sizing: border-box;
  min-height: 240px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-box-btn {
  position: absolute;
  bottom: 5px;
  width: 95%;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 0px;
}

.cards-container-btn {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px 0.5rem;
}
.card-btn-left {
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.card-btn-right {
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1416px) {
  .card-box {
    width: calc(25% - 0.9rem);
  }
}
@media (max-width: 1145px) {
  .card-box {
    width: calc(33.33% - 0.9rem);
  }
}

/* grid for small device */
@media (max-width: 1024px) {
  .cards-content-wrapper {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-box {
    min-width: 160px;
    min-height: 200px;
    flex: unset;
    width: unset;
  }
  .cards-container-btn {
    display: none;
  }
}

@media (max-width: 780px) {
  .cards-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-box {
    min-width: 160px;
    box-sizing: border-box;
    min-height: 200px;
  }
}

@media (max-width: 300px) {
  .cards-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
