.topBrands-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem 2rem;
}
.topBrands-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.topBrands-header h5 {
  font-size: 1.9rem;
  font-weight: bold;
}
.topBarands-content-container {
  padding: 1rem 0px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.topBrands-brand {
  flex: 1 1 calc(20% - 1.5rem);
}
.topBrands-brand img {
  width: 100%;
  height: 100%;
}

/* mobile view */
@media (max-width: 770px) {
  .topBrands-container {
    padding: 1rem 10px;
  }
  .topBarands-content-container {
    padding: 5% 0px;
    /* justify-content: space-around; */
  }
  .topBrands-brand {
    flex: 0 1 calc(140px - 1.5rem);
  }
}
