.SigninPopupContainer{

    border-radius: 15px;

}
.signinPopupContent{
    border-radius: 15px;
}
.popupCloseButton{
    position: absolute;
    top: -50px;
    right: 0px;
    z-index: 5;
    background-color: #FDD687;
    padding: 15px 15px;
    border: none;
    border-radius: 0px 15px 0px 15px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
@media screen and (max-width : 414px) {
    .SigninPopupContainer{
        height: auto;
        width: 90%;
    }
    
}