/* Style the scrollbar of the popup container */
.content::-webkit-scrollbar {
  width: 4px;
  /* Width of the vertical scrollbar */
}

.popup-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light gray track */
  border-radius: 10px;
}

/* Style the scrollbar thumb (the draggable part) */
.content::-webkit-scrollbar-thumb {
  background: #888;
  /* Gray thumb */
  border-radius: 10px;
}

/* Style the scrollbar thumb when it's hovered */
.content::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker gray when hovered */
}


h3 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 12px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.academeyPopup-content {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 600px;

}

.navbar {
  background-color: white;
  color: black;
  padding: 5px;
  text-align: center;
  border-radius: 15px;

}

.academyLogo {
  width: 60px;
  height: 60px;
}

.navText h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 30px;
}

.navText h3 {
  font-size: 17px;
  font-weight: 500;
}

.content {
  padding: 20px;
  height: 500px;
}

.aminities-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* Adds a 20px gap between amenities icon and description */
}

.aminities {
  display: flex;
  width: 40px;
  align-items: center;
  margin-right: 0;
}

.aminities-desc {
  display: flex;
  align-items: flex-start;
}

.blackImage {
  background-color: black;
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;

}

.certificateBoxes {
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.certificateImage {
  height: 100px;
  width: 100px;
  object-fit: fill;
}


.academyDownArrowButton {
  position: fixed;
  right: 50%;
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  border: 'none';
  border-radius: 50%;
  padding: '15px';
  font-size: '18px';
  cursor: 'pointer';
  box-shadow: '0 4px 8px rgba(0, 0, 0, 0.2)';
  transition: 'opacity 0.3s ease-in-out';

}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
  background-color: #FDD687;
  padding: 15px 15px;
  border: none;
  border-radius: 0px 15px 0px 15px;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

@media only screen and (max-width: 912px) {
  .academeyPopup-content {
    width: 90%;
  }
}

@media only screen and (max-width: 912px) {
  .socialMediaIcon {
    display: none;
  }

  .navText h1 {
    font-size: 24px !important;
    font-weight: 700;
    line-height: 30px;
  }

  .navText h3 {
    font-size: 15px !important;
    font-weight: 500;
  }

  .close-button {
    position: absolute;
    top: 0px;
    right: 6px;
    z-index: 5;
    background-color: #FDD687;
    padding: 15px 15px;
    border: none;
    border-radius: 0px 15px 0px 15px;
    font-size: 14px;
    color: black;
    cursor: pointer;
  }

  .highlightIcon {
    font-size: 20px;
  }

  .contentText {
    text-align: justify;
  }
}

@media only screen and (max-width: 375px) {
  .academeyPopup-content {
    width: 90%;
    margin-left: 0px;
  }



  .close-button {
    right: 0;
  }
}

@media only screen and (max-width: 430px) {
  .academeyPopup-content {
    width: 90%;
    margin-left: 0px;
  }

  .content {
    height: 450px !important;
  }




}

@media only screen and (max-width: 360px) {
  .academeyPopup-content {
    height: 710px;
  }

  .content {
    height: 550px !important;
  }


}



@media only screen and (max-width: 1024px) and (min-width:1000px) {


  .navbar h3 {
    font-size: 16px;
  }

  .academeyPopup-content {
    height: 530px;
    width: 60%;
  }

  .content {
    height: 380px !important;
  }
}

@media only screen and (min-width: 2500px) {
  .blackImage {
    width: 50% !important;
    height: 70% !important;
  }
}

@media only screen and (max-height: 740px) {
  .academyDownArrowButton {
    bottom: 35px;

  }

}

@media only screen and (min-height: 1000px) and (max-height:1020px) {

  .academeyPopup-content {
    width: 60%;
  }

  .content {
    height: 460px !important;
  }
}

@media only screen and (min-height: 710px) and (max-height:720px) {
  .academeyPopup-content {
    height: 650px;
  }

  .content {
    height: 500Px !important;
  }
}