.search-container {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #fdd687, #f5a691);
  border-radius: 0px 0px 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem;
}
.search-comp-text-container {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 40%;
}
.search-comp-text-container h5 {
  font-size: 2rem;
  font-weight: 800;
}
.search-comp-container {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.5rem;
  width: 100%;
}
.search-select-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}
.select-layout {
  width: 100%;
}
.select-layout select {
  width: 100%;
  font-size: 1.15rem;
  padding: 10px 1rem;
  background-color: #fff;
  border-radius: 0.6rem;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
  /* arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.9rem top 50%;
  background-size: 0.65rem auto;
}
.search-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1rem;
  background-color: #fdd687;
  border-radius: 0.6rem;
  outline: none;
  border: none;
}
.search-btn-container h6 {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* mobile view */
@media (max-width: 770px) {
  .search-container {
    grid-template-columns: 100%;
    height: fit-content;
    padding: 1rem;
    gap: 0px;
  }
  .search-select-container {
    grid-template-rows: 2;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
  }
  .select-location {
    grid-column: span 4;
  }
  .select-gender {
    grid-column: span 2;
  }
  .select-age {
    grid-column: span 2;
  }
}
